@import 'easymde/dist/easymde.min.css';

.easyMde {
  position: relative;
  border: 1px solid var(--ms-cm-base-stroke);
  border-radius: var(--ms-form-default-radius);
  overflow: hidden;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;

  &:has(.form-invalid) {
    border: 1px solid var(--ms-cm-error);
  }

  &:has(.CodeMirror-focused) {
    border-color: var(--ms-form-focus-border-color);
    box-shadow: 0 0 0 var(--ms-form-focus-ring-width) color-mix(in oklab, var(--ms-form-focus-ring-color) 10%, transparent);
  }

  &:has(.form-invalid):has(.CodeMirror-focused) {
    box-shadow: 0 0 0 3px rgb(var(--ms-cm-error) / 0.2);
  }

  & > textarea {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
  }

  .editor-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 1px;
    border: 0;
    border-bottom: 1px solid var(--ms-cm-base-stroke);
    background-color: var(--ms-cm-body);

    button {
      &.active {
        border-color: transparent;
        background-color: var(--ms-cm-base-300);
        color: var(--ms-cm-base-text);
      }

      &:hover {
        border: 1px solid var(--ms-cm-base-stroke);
        background-color: var(--ms-cm-base-300);
      }
    }

    i.separator {
      border: 1px solid var(--ms-cm-base-stroke);
    }
  }

  .prose {
    max-width: 100%;
    background: var(--ms-cm-body);
    padding: var(--ms-box-padding-x);
    color: var(--ms-cm-base-text);
  }

  .editor-preview-side {
    border: none;
    border-left: 1px solid var(--ms-cm-base-300);
    background-color: var(--ms-cm-body);
  }

  .editor-toolbar.fullscreen,
  .CodeMirror-fullscreen {
    z-index: 150;
  }

  .CodeMirror, .CodeMirror-fullscreen {
    background: var(--ms-cm-body);
    border: 0;
  }

  .CodeMirror-selected,
  .CodeMirror-focused .CodeMirror-selected {
    background-color: var(--ms-cm-base-500);
  }

  .CodeMirror-line {
    color: var(--ms-cm-base-text);
  }

  .CodeMirror-cursor {
    border: 0;
    border-left: 1px solid var(--ms-cm-base-text);
  }

  pre.CodeMirror-line-like {
    color: var(--ms-cm-base-text);
  }
}

[class=dark] {
  .easyMde {
    &:has(.CodeMirror-focused) {
      box-shadow: 0 0 0 3px rgb(var(--ms-cm-base-stroke) / 0.3);
    }

    &:has(.form-invalid):has(.CodeMirror-focused) {
      box-shadow: 0 0 0 3px rgb(var(--ms-cm-error) / 0.4);
    }

    .editor-toolbar {
      background-color: var(--ms-cm-base-200);

      button {
        &.active {
          background-color: var(--ms-cm-base-400);
        }

        &:hover {
          background-color: var(--ms-cm-base-500);
        }
      }
    }

    .CodeMirror-line {
      color: var(--ms-cm-base-text);
    }
  }
}
