@import 'easymde/dist/easymde.min.css';

.easyMde {
  position: relative;
  border: 1px solid var(--base-stroke);
  border-radius: var(--ms-form-default-radius);
  overflow: hidden;

  &:has(.form-invalid) {
    border: 1px solid var(--error-bg);
  }

  &:has(.CodeMirror-focused) {
    box-shadow: 0 0 0 3px rgb(var(--base-stroke) / 0.7);
  }

  &:has(.form-invalid):has(.CodeMirror-focused) {
    box-shadow: 0 0 0 3px rgb(var(--error-bg) / 0.2);
  }

  & > textarea {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
  }

  .editor-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 1px;
    border: 0;
    border-bottom: 1px solid var(--base-stroke);
    background-color: var(--ms-layout-page-bg-color, var(--color-base));

    button {
      &.active {
        border-color: transparent;
        background-color: var(--base-300);
        color: var(--base-text);
      }

      &:hover {
        border: 1px solid var(--base-stroke);
        background-color: var(--base-300);
      }
    }

    i.separator {
      border: 1px solid var(--base-stroke);
    }
  }

  .prose {
    max-width: 100%;
    background: var(--body);
    padding: var(--ms-box-padding-x);
    color: var(--base-text);
  }

  .editor-preview-side {
    border: none;
    border-left: 1px solid var(--base-300);
    background-color: var(--body);
  }

  .editor-toolbar.fullscreen,
  .CodeMirror-fullscreen {
    z-index: 150;
  }

  .CodeMirror, .CodeMirror-fullscreen {
    background: var(--body);
    border: 0;
  }

  .CodeMirror-selected,
  .CodeMirror-focused .CodeMirror-selected {
    background-color: var(--base-500);
  }

  .CodeMirror-line {
    color: var(--base-text);
  }

  .CodeMirror-cursor {
    border: 0;
    border-left: 1px solid var(--base-text);
  }
}

[class=dark] {
  .easyMde {
    &:has(.CodeMirror-focused) {
      box-shadow: 0 0 0 3px rgb(var(--base-stroke) / 0.3);
    }

    &:has(.form-invalid):has(.CodeMirror-focused) {
      box-shadow: 0 0 0 3px rgb(var(--error-bg) / 0.4);
    }

    .editor-toolbar {
      background-color: var(--base-200);

      button {
        &.active {
          background-color: var(--base-400);
        }

        &:hover {
          background-color: var(--base-500);
        }
      }
    }

    .CodeMirror-line {
      color: var(--base-text);
    }
  }
}
